* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* header css */
.header {
    width: 100%;
    height: 65px;
    /* border: 1px solid red; */
    background-color: rgb(250, 249, 248);
    overflow: hidden;
}

.header-top {
    width: 96%;
    height: 70%;
    /* border: 1px solid blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-left {
    font-size: 5.5px;
    font-weight: 500;
}

.head-l {
    width: 23%;
    height: 100%;
    color: #533237;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

.circle {
    height: 3px;
    font-weight: bolder;
    color: #533237;
    padding-bottom: 1px;
    word-spacing: 2px;
}

.circle:hover {
    color: red;
}

.hnm-image {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 46%;
    right: 50%;
    overflow: hidden;
    object-fit: cover;
}

.hnm-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-r {
    width: 30%;
    height: 22%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-r div {
    /* margin-right: 15px; */
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
}

.head-r span {
    font-size: 5.5px;
    color: #533237;
    margin-right: 4px;
    font-weight: 500;
    cursor: pointer;
}

.user {
    /* border: 1px solid red; */
    height: 9px;
    margin-right: 3px;
    cursor: pointer;
}

.favourite {
    /* border: 1px solid red; */
    height: 9px;
    margin-right: 3px;
}

.cart {
    /* border: 1px solid red; */
    height: 9px;
    margin-right: 3px;
}

.head-bottom {
    display: flex;
}

.filter {
    width: 50%;
    height: 20px;
    /* border: 1px solid red; */
    display: flex;
    margin-left: 150px;
}

.filter ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.filter ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 6px;
}

.filter ul li:nth-child(2) {
    cursor: pointer;
}

.f-right {
    width: 13%;
    height: 20px;
    font-size: 8px;
    /* border: 1px solid brown; */
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.f-right input {
    border: none;
    border-bottom: 1px solid #533237;
    width: 100%;
    font-size: 6px;
    padding-bottom: 2.3px;
    padding-left: 4px;
    background-color: rgb(250, 249, 248);
}

.search {
    border-bottom: 1px solid #533237;
    font-size: 10px;
    background-color: rgb(250, 249, 248);
}

/* footer css */
.footer {
    width: 100%;
    height: 70vh;
    /* border: 1px solid green; */
    max-width: 1300px;
    margin: auto;
    background-color: #e4e4e4;
}

.f-content {
    width: 62%;
    height: 67%;
    /* border: 1px solid red; */
    padding-top: 10px;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

.f-c {
    width: 15%;
    height: 100%;
    /* border: 1px solid black; */
    /* display: flex; */
}

.f-c div {
    font-size: 4px;
    font-weight: 500;
    margin-top: 8px;
    text-align: left;
    line-height: 3px;
    overflow: hidden;
}

.f-c div:nth-child(1) {
    font-size: 6px;
    font-weight: 500;
    line-height: 5px;
}

.f-content div:nth-child(4) {
    width: 86px;
}

.f-c p {
    font-size: 5px;
    margin-top: 20px;
    line-height: 6px;
    overflow: hidden;
}

.r-more {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid red; */
}

.arrow {
    font-size: 7px;
    margin-top: 9px;
    margin-left: 10px;
    /* padding-top: 20px; */
    font-weight: normal;
}

.f-icons {
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.font-icons {
    height: 8px;
}

.copyright {
    text-align: center;
    font-size: 5px;
    margin-top: 10px;
}

.foot-last {
    font-size: 5px;
    margin-top: 30px;
    text-align: center;
}

/* signin css */
#screen {
    width: 100%;
    height: 540px;
    border: 1px solid rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.178);
}

#body {
    width: 34%;
    margin: auto;
    background-color: #FAF9F8;
    height: 75%;
    margin-top: 30px;
    border: 1px solid rgba(128, 128, 128, 0.178);
    overflow-x: hidden;
    overflow-y: auto;
}

#semi-body {
    width: 87%;
    height: 250px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 4%;
}

.top {
    width: 100%;
    height: 18px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.top>h2 {
    font-size: 10px;
    letter-spacing: 0.3px;
    padding-left: 14px;
    overflow: hidden;
}

.xmark {
    font-size: 16px;
    overflow: hidden;
}

.top-p {
    width: 100%;
    height: 20px;
    /* border: 1px solid black; */
    font-size: 5px;
    font-weight: 500;
    padding-top: 1px;
}

#fieldset {
    /* border: 1px solid blue; */
    height: 137px;
    text-align: left;
    overflow: hidden;
}

#fieldset>label {
    font-size: 5.5px;
    font-weight: 500;
    overflow: hidden;
}

#fieldset>label>span {
    color: red;
}

#fieldset>input {
    width: 100%;
    height: 20px;
    outline: none;
    border: 0.5px solid rgba(128, 128, 128, 0.33);
    /* text-align-last: right; */
    padding-left: 2px;
    font-size: 5px;
}

::placeholder {
    color: black;
    text-align-last: right;
    font-size: 5px;
    padding-right: 3px;
}

#forgotPass {
    width: 100%;
    height: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-size: 5.5px;
    font-weight: 400;
    padding-top: 1px;
}

#forgotPass>div {
    display: flex;
}

.checkbox {
    width: 10px;
    height: 10px;
}

.sign-in {
    width: 100%;
    height: 20px;
    border: none;
    color: white;
    font-size: 6px;
    background-color: rgba(0, 0, 0, 0.872);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.sign-up {
    width: 100%;
    height: 20px;
    border: 0.5px solid black;
    color: rgba(0, 0, 0, 0.872);
    font-size: 6px;
    margin-top: 3px;
    font-weight: 600;
}

.last {
    font-size: 5.5px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-top: 8px;
}

/* homepage css */
#homescreen {
    width: 100%;
    background-color: rgb(250, 249, 248);
}

#home-content {
    background-color: rgb(250, 249, 248);
    width: 63%;
    margin: auto;
    margin-top: 5px;
    /* border: 1px solid red; */
}

#info-container {
    width: 100%;
    margin: auto;
    height: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5.5px;
    font-weight: 500;

}

.woman-img {
    width: 100%;
    height: 260px;
    margin: auto;
    overflow: hidden;
}

.woman-img img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2/1; */
    object-fit: cover;
    overflow: hidden;
}

.man-img {
    width: 100%;
    height: 260px;
    /* aspect-ratio: 2/1; */
    margin: 20px auto;
    overflow: hidden;
}

.man-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* mens css */
#men-bg {
    background-color: rgb(250, 249, 248);
}

#hm-com p:hover {
    color: red;
}

.head {
    text-align: center;
    font-size: 4.5px;
    margin-top: 10px;
    cursor: pointer;
}

.head span {
    color: red;
}

#mens-container {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.sort-left {
    width: 16%;
    height: 500px;
    /* border: 1px solid red; */
    text-align: left;
    overflow: hidden;
}

.sort-section {
    margin-left: 10px;
    margin-bottom: 20px;
}

.sort-section h4 {
    font-size: 6px;
    font-weight: 500;
}

.sort-section div {
    font-size: 5px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

.mens-content {
    width: 65%;
    height: auto;
    /* border: 1px solid green; */
}

.men-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

.men-img {
    height: 270px;
    overflow: hidden;
    margin-bottom: 20px;
}

/* signup css */
@import url(https://db.onlinewebfonts.com/c/c352028deedbafe44d35574c0214fedf?family=HM+Sans+Latin+SemiBold);
@import url(https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular);

#screen {
    width: 100%;
    height: 100%;
}

#mainscreen {
    border: 1px solid white;
    width: 33%;
    height: 690px;
    margin: auto;
    margin-top: 20px;
    overflow-y: auto;
    background-color: #faf9f8;
}

#inscreen {
    /* border: 1px solid blue; */
    width: 87%;
    height: auto;
    margin: auto;
    background-color: #faf9f8;
}

#firstline {
    /* border: 1px solid red; */
    height: 50px;
    margin-top: 5px;
}

#firstline h2 {
    /* border: 1px solid red; */
    width: fit-content;
    margin-top: 22px;
    margin-left: 27px;
    line-height: 28px;
    font-size: 24px;
    font-weight: 640;
    font-family: "HM Sans Latin SemiBold";
}

#cross {
    /* border: 1px solid red; */
    margin-top: -45px;
    width: fit-content;
    height: fit-content;
    margin-left: 94%;
}

#secline :nth-child(1) {
    letter-spacing: 0;
    line-height: 14px;
    margin-top: 16px;
    margin-bottom: 32px;
    /* border: 1px solid red; */
    font-size: 13px;
    font-weight: 500;
    font-family: "HM Sans Regular";
}

#mainline {
    /* border: 1px solid red; */
    color: black;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    margin-left: -8px;
    font-family: "HM Sans Regular";
}

#star {
    color: rgb(214, 0, 28);
    width: fit-content;
    height: fit-content;
    margin-top: -18px;
    margin-left: 43px;
    font-family: "HM Sans Latin SemiBold";
    font-weight: bold;
}

#in1 :nth-child(1) {
    width: 98%;
    height: 42px;
}

#in1 {
    margin-top: 3px;
}

#pass {
    color: black;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    margin-left: -5px;
}

#star2 {
    color: rgb(214, 0, 28);
    width: fit-content;
    height: fit-content;
    margin-top: -19px;
    margin-left: 122px;
    font-weight: bold;
}

#show {
    margin-top: -33px;
    margin-left: 89%;
    font-size: 13px;
    font-weight: bold;
}

#uplow {
    font-size: 13px;
    width: fit-content;
    color: #707070;
}

#dob {
    color: black;
    margin-top: -15px;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    margin-left: -7px;
}

#star3 {
    color: rgb(214, 0, 28);
    width: fit-content;
    height: fit-content;
    margin-top: -18px;
    margin-left: 87px;
    font-weight: bold;
}

#uplow2 {
    font-size: 13px;
    width: fit-content;
    color: #707070;
    margin-top: -15px;
}

#option {
    border: none;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: -15px;
}

#downline {
    margin-top: 10px;
    border: 1px solid #faf9f8;
    height: fit-content;
    font-family: "HM Sans Regular";
}

#op1 {
    width: 95%;
    height: 100%;
    border: none;
    font-family: "HM Sans Regular";
    font-size: 13px;
}

#yes {
    /* border: 1px solid red; */
    height: 120px;
    margin-top: 20px;
    display: flex;
    font-family: "HM Sans Regular";
}

#yes1 {
    width: fit-content;
    font-family: "HM Sans Regular";
}

#checkbox {
    width: 20px;
    height: 20px;
}

#yes2 {
    font-size: 12px;
    width: fit-content;
    /* border: 1px solid red; */
    height: fit-content;
    text-align: start;
    font-family: "HM Sans Regular";
}

#byc {
    /* border: 1px solid red; */
    width: fit-content;
    font-size: 11px;
    margin-top: 12px;
    text-align: start;
    color: #707070;
}

#byc1 {
    text-decoration: underline;
    font-size: 13px;
}

#lasttext {
    width: fit-content;
    font-size: 11px;
    margin-top: 10px;
    text-align: start;
    color: #707070;
}

#bm {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bm1 {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: 0 0 0 0 #000;
    background: #222;
}

#signin {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 30px;
}

#sn2 {
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 16px;
    box-shadow: 0 0 0 0 #000;
    background-color: transparent;
    border: 1px solid #222;
    color: #222;
}