#homescreen {
    width: 100%;
    height: 1000px;
    border: 1px solid red;
}

#home-content {
    background-color: rgb(250, 249, 248);
    width: 100%;
}

#info-container {
    width: 80%;
    margin: auto;
    height: 1500px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.woman-img {
    width: 60%;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
}

.woman-img img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2/1; */
    object-fit: cover;
    overflow: hidden;
}

.man-img {
    width: 60%;
    height: 500px;
    /* aspect-ratio: 2/1; */
    margin: 20px auto;
    overflow: hidden;
}

.man-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}