* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Active,
.Inactive {
    width: 50px;
}

#Signin {
    border: none;
    background-color: transparent;
}

.Active+.pop {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.5) 50%);
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 6;
    display: block;
    overflow: hidden;
}

.Inactive+.pop {
    /* transform: scale(0); */
    /* visibility: hidden; */
    display: none;
}

.pop {
    padding: 0% 25%;
}

.pop-content {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid red; */
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 10;
}

.end {
    position: absolute;
    top: 5px;
    right: 5px;
}

.signIn-heading {
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin: auto;
}

#Email-label,
#Pass-label {
    padding-top: 20px;
    margin-left: 20px;
}

#Email,
#Password {
    min-width: 450px;
    height: 40px;
    margin-left: 20px;
}

.rememberMe {
    width: 90%;
    text-decoration: underline;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 20px;
}

.rememberMe>input {
    width: 20px;
    height: 20px;
}

.submit {
    width: 100%;
    height: 40px;
    margin-left: 30px;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    margin-top: 30px;
}

.Member {
    width: 100%;
    height: 40px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    /* border: none; */
    border: 1px solid black;
    outline: none;
    margin-top: 30px;
}

.M-info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    margin-top: 15px;
}

.pop-box {
    width: 100%;
    height: 100%;
    background-color: black;
}